
{% extends "app/base.html" %}
{% block content %}
<div class='image-background hero' style="background-image: url('{{hood.zoneImage.url}}'); height: 500px;">
    <div class='container-fluid h-100 mask' style="background-color: rgba(0, 0, 0, 0.4);">
      <div class='row h-100 align-items-center'>
        <div class='col-12 text-center'>
        <p style="height:100px"></p>
          <h1 class='display-2'>&nbsp;{{hood.zoneName}}&nbsp;</h1>
          <p style="height:10px"></p>
          <p class='lead'>Location: {{hood.zoneLocation}}</p>
          <p class='lead' style="font-size:12px;">Population: {{hood.zoneOccupants}}</p>
          <!-- <p class='lead'>Dets</p> -->

          <p style="height:10px"></p>
          <form method="POST" action="{% url 'exitHood' hood.pk %}">
            {% csrf_token %}
            <button class="btn btn-outline-primary btn-sm mt-2" type="submit button" style="text-decoration:none; color:#fff; font-weight: bolder;">
                EXIT</button>
        </form>
        </div>
      </div>
    </div>
</div>
<!-- POSTS | Police |Hospital| Schools |Bussinesses|-->
<div class="container">
<div class="row mt-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
    <div class="col-3 mt-3">
        <p class='lead text-center mt-2'>Business</p>
        {% for biz in bizs %}
            <div class="col mb-3 pb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
            
                <h6 style="margin-left: 1vw; padding-top:2em; font-weight: bold;">
                    {{biz.bizName}}
                </h6>
                <small style="margin-left: 1vw;">
                    <span style="font-weight: bold;">
                        Email:
                    </span> {{biz.email}}
                </small> </br>
                <small style="margin-left: 1vw; padding-bottom:2em;">
                    <span style="font-weight: bold;">
                    Phone number:
                    </span> {{biz.contact}}</small>
            </div>       
        
        {% endfor %}

    </div>
    <!--School-->
    <div class="col-3 mt-3">
        <p class='lead text-center mt-2'>School</p>
        {% for schl in schls %}
        <div class= col "mb-3 pb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
           
            <h6 style="margin-left: 1vw; padding-top:2em; font-weight: bold;">{{schl.schlName}}
            </h6>
            <small style="margin-left: 1vw;">
                <span style="font-weight: bold;">
                    Teachers:
                </span> {{schl.teachersNum}}
            </small> |
            <small>
                <span style="font-weight: bold;">
                    Students:
                </span> {{schl.studentsNum}}
            </small></br>
            <small style="margin-left: 1vw;">
                <span style="font-weight: bold;">
                    Email:
                </span> {{schl.email}}
            </small> </br>
            <small style="margin-left: 1vw; padding-bottom:2em;">
                <span style="font-weight: bold;">
                   Phone number:
                </span> {{schl.contact}}</small>
        </div>
        {% endfor %}

    </div>
    <!--hosp-->
    <div class="col-3 mt-3">
        <p class='lead text-center mt-2'>Hospital</p>
        {% for hosp in hosps %}
            <div class="col mb-3 pb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
                
                <h6 style="margin-left: 1vw; padding-top:2em; font-weight: bold;">
                    {{hosp.hName}}
                </h6>
                <small style="margin-left: 1vw;">
                    <span style="font-weight: bold;">
                        Email:
                    </span> {{hosp.email}}
                </small> </br>
                <small style="margin-left: 1vw; padding-bottom:2em;">
                    <span style="font-weight: bold;">
                    Phone number:
                    </span> {{hosp.contact}}</small>
            </div> 
        {% endfor %}

    </div>
    <!--police-->
    <div class="col-3 mt-3">
        <p class='lead text-center mt-2'>Police</p>
        {% for station in stations %}
            <div class="col mb-3 pb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
                
                <h6 style="margin-left: 1vw; padding-top:2em; font-weight: bold;">
                    {{station.stationName}}
                </h6>
                <small style="margin-left: 1vw;">
                    <span style="font-weight: bold;">
                        Email:
                    </span> {{station.email}}
                </small> </br>
                <small style="margin-left: 1vw; padding-bottom:2em;">
                    <span style="font-weight: bold;">
                    Phone number:
                    </span> {{station.contact}}</small>
            </div>
        {% endfor %}

    </div>
</div>
</div>
<div class="container mt-3 pb-3 mb-5" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
    <h1 class='display-2 text-center mt-2' style="padding-top:1em; font-size: 22px;">What's new in:  &nbsp;{{hood.zoneName}}&nbsp;</h1>
    <a href="{% url 'addPost' %}" style="text-decoration: none;">
        svg
    </a>
    {% for post in posts %}
        <div class="col mb-3 pb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:15px;">
            <h6 style="margin-left: 1vw; padding-top:2em; font-weight: bold;">
                {{post.title}}  | 
                <span class="text-muted" style="font-size: 12px;">
                 Author:   {{post.author}}
                </span>
            </h6> 
            <p class="lead" style="margin-left: 1vw; font-weight: 300; font-size: 14px;">
                {{post.post}}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock content %}


    


    






